body {
  padding: 1rem;
}

.countries-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.countries-container a {
  text-decoration: none;
  color: #fff;
}

.countries-container img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
}

.country {
  display: grid;
  width: 70%;
  border: 3px solid #6464;
  border-radius: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.country p {
  background-color: rgba(114, 32, 207, 0.133);
  padding: 0.9rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

.country p:hover {
  filter: brightness(0.9);
}

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  animation: spin 2s linear infinite;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
