body {
  padding: 1rem;
}

.tabelas {
  display: grid;
  place-items: center;
  padding: 1.5rem;
}

.tabelas img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
}

.countries {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.countries p {
  background-color: rgb(59, 52, 156);
  padding: 0.9rem;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 15rem;
  font-size: 0.75rem;
}

.countries p:hover {
  filter: brightness(0.9);
}

.leagues {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-top: 1rem;
}

.leagues p {
  background-color: rgba(114, 32, 207, 0.133);
  padding: 0.9rem;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 15rem;
  font-size: 0.75rem;
}
